In [5]:
#1. Modules, Comments, PIP
print("Starting the new Python Course")
#To Print Multiline Strings.
print('''You think that you are free.

But there is not a thought
an emotion, an attitude
and belief in you
that is not coming
from some others.

And you do not know it.

Are you really free? ?

You feel pretty strong
about certain things.
But are you really?

You are a result of
Your conditioning
and programming.

You are not free.''')

Starting the new Python Course
You think that you are free.

But there is not a thought
an emotion, an attitude
and belief in you
that is not coming
from some others.

And you do not know it.

Are you really free? ?

You feel pretty strong
about certain things.
But are you really?

You are a result of
Your conditioning
and programming.

You are not free.

In [ ]:
#To print multiline string
print('''You think that you are free.

But there is not a thought
an emotion, an attitude
and belief in you
that is not coming
from some others.

And you do not know it.

Are you really free? ?

You feel pretty strong
about certain things.
But are you really?

You are a result of
Your conditioning
and programming.

You are not free.''')

You think that you are free.

But there is not a thought
an emotion, an attitude
and belief in you
that is not coming
from some others.

And you do not know it.

Are you really free? ?

You feel pretty strong
about certain things.
But are you really?

You are a result of
Your conditioning
and programming.

You are not free.

In [11]:
#Print table of 5
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [18]:
#"""Write a Python Program to print 
#the contents of a directory using the os module."""
import os
#Specify the directory you want to list
directory_path = '/'
#List all the files and directories in the specified path
contents = os.listdir(directory_path)

#Print each file and directory name
for item in contents:
    print(item)

$Recycle.Bin
Documents and Settings
DumpStack.log.tmp
hiberfil.sys
Intel
mySingle
pagefile.sys
PaperSecu
PerfLogs
Program Files
Program Files (x86)
ProgramData
Recovery
swapfile.sys
System Volume Information
Temp
Users
Windows

In [22]:
#Variables and Datatypes
#Variables: Integers,Floating Point Numbers, Strings, Booleans, None

a=1
b=45
print(a+b)
a=1 # a is an integer
b=2.22 # b is a floating point number
c="Harry" # c is a string
d=False #d is a boolean variable
e=None #e is a none type variable

46

In [35]:
#Arithmetic Operators
a=34
b=45
c=a+b
print(c)
#Assignment Operator
a=4-2 # Assign 4-2 in a
b=6
b += 3 # Increment the value of b by c and then assign it to b
print(b)
b-=3
print(b)# Decrement the value of b by c and then assign it to b
#Comparison Operators returns boolean i.e. True or False
#==,>,>=,<=,<,!=
d=5<4
print(d)
d=5 !=5
print(d)
#Logical Operators
e= True or False
print(e)

#Truth Table of OR
print("Truth Table of OR")
print("True or False is", True or False)
print("True or True is", True or True)
print("False or True is", False or True)
print("False or False is", False or False)

# #Truth Table of AND
# print("Truth Table of AND")
# print("True AND False is", True AND False)
# # print("True AND True is", True AND True)
# # print("False AND True is", False AND True)
# # print("False AND False is", False AND False)

79
9
6
False
False
True
Truth Table of OR
True or False is True
True or True is True
False or True is True
False or False is False

In [37]:
#Truth Table of AND

print("True and False is", True and False)
print("True and True is", True and True)
print("False and True is", False and True)
print("False and False is", False and False)

print(not(False))
print(not(True))

True and False is False
True and True is True
False and True is False
False and False is False
True
False

In [41]:
a=32
b=32.4
c="Ram"
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(c))
e=67
str(e)
print(type(e))
f="34"
float(f)
print(type(f))
g=89
int(g)
print(type(g))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>

In [45]:
#INPUT Function
a=int(input("Enter number 1"))
b=int(input("Enter number 2"))
print("NUmber a is :", a)
print("NUmber b is :", b)
print("Sum is", a+b)

NUmber a is : 4
NUmber b is : 7
Sum is 11

In [47]:
#Write a Python Program to add two Numbers.
a=int(input("Enter the value of the first number:"))
b=int(input("Enter the value of the second number:"))
print("The Sum of the Two Numbers is :", a+b)

The Sum of the Two Numbers is : 13

In [49]:
#Write a Python Program to find reminder when a number is divided by z.
a=int(input("Enter the value of the first number:"))
b=int(input("Enter the value of the second number:"))
print("The Sum of the Two Numbers is :", a%b)

The Sum of the Two Numbers is : 4

In [53]:
#Check the type of variable assigned using the input() function.

a=input("Enter the value of a")
print(type(a))

<class 'str'>

In [54]:
# Use Comparison Operator to find out whether a given variable a is greater than "b" or not. Take a=34 and b=80

a=int(input("Enter the value of number 1: "))
b=int(input("Enter the value of number 2: "))
print("a is greater than b is", a>b)

a is greater than b is True

In [55]:
#Write a Python Program to find an average of two numbers entered by the user.
a=int(input("Enter the value of the first number:"))
b=int(input("Enter the value of the second number:"))
print("The average of the given Two numbers is", a+b/2)

The average of the given Two numbers is 10.0

In [1]:
#Write a python program to calculate the square of a number entered by the user.
a=int(input("Enter the value of number"))
print("The square of the given number is", a**2)

The square of the given number is 64

In [ ]:
#Strings: String is a Data Type in Python. It is a sequence of characters enclosed in quotes.
#We can primarily write a string in these three ways.
# a='harry' #Single Quoted String
# b="harry" #Double Quoted String
# c='''Akanksha''' # Triple quoted String

#STRING SLICING
#A String in Python can be sliced for getting a part of the strings.
#String is imutable.
#Strings are imutable which means that you cannot change them by running functions on them.

name="Akanksha Mishra"
nameshort=name[1:8:2]
print(nameshort)
print(name[1])
print(name[7])
print(name[-4])
print(name[-4:-1])
print(name[:])
print(name[:7])
print(name[2:])
# The index in a string starts from 0 to (length-1) in Python. In order to slice a string. We use the following syntax.
# sl=name[ind_start:ind_last]
# Negative Indices: Negative indices can also be used as shown in the figure above,-1 corresponds to the (length-1)index, -2 to (length-2)
#nameshort=name[0:3] #start from index 0 all the way till 3 (excluding 3)
#Slicing with SKIP Value
print(name[1:8:2])

#STRING FUNCTIONS

print(len(name))
print(name.endswith("sha"))
print(name.startswith("Aka")) #String Function is Case Sensitive
print(name.capitalize())
print(name.upper())
print(name.lower())
print(name.title())
print(name.find("Mishra"))
print(name.replace("Mishra","Jha"))

knsa
k
a
s
shr
Akanksha Mishra
Akanksh
anksha Mishra
knsa
15
False
True
Akanksha mishra
AKANKSHA MISHRA
akanksha mishra
Akanksha Mishra
9
Akanksha Jha

In [18]:
#Escape Sequence Charachters
#Sequence of Characters after backslash "\" - Escape Sequence characters
#Escape Sequence Characters comprise of more than one character but represent one character when used within the strings.
#Example:
# \n = newline
# \t = TabError
# ; = Singlequote
# \ = backslash

a = "Akanksha is a great \"Python\" Developer.\n She also have the knowledge of Artificial Intelligence \t and Machine Learning."
print(a)

Akanksha is a great "Python" Developer.
 She also have the knowledge of Artificial Intelligence 	 and Machine Learning.

In [24]:
#Write a Python Program to display a user entered name followed by Good Afternoon using input() function.
a=input("Enter the value of the name of the user:")
print("Good Afternoon", a)
print(f"Good Afternoon {name}")

Good Afternoon Pratiksha
Good Afternoon Akanksha Mishra

In [25]:
#Write a Program to fill in a letter template given below with the name and date.
letter='''
        Dear <|Name|>,
        You are selected!
        <|Date|>
        '''
print(letter.replace("<|Name|>", "Akanksha").replace("<|Date|>","20th November, 2024"))

        Dear Akanksha,
        You are selected!
        20th November, 2024

In [26]:
#Write a program to detect double space in a string.
name="Akanksha is a great Software   Developer"
print(name.find("  "))

28

In [27]:
#Replace the double spacefrom problem 3 with single spaces.
print(name.replace("  "," "))

Akanksha is a great Software  Developer

In [31]:
#Write a program to format the following letter using the escape sequence characters.
letter = "Dear Akanksha,\n\t This Python course is nice.\n Thanks!"
print(letter)

Dear Akanksha,
	 This Python course is nice.
 Thanks!

In [13]:
#List = Python lists are containers to store a set of values of any data type.mro
friends=["Apple","Orange",4,456.234, False, "Akanksha", True, "Rohan"]
print(friends[0])
friends[0]="Summi"
print(friends)
friends="Akanksha"
print(friends[1])
#Strings are immutable but Lists are mutable.
print(friends[1:4])
Office=["Riya",8,34.54,"Rehan","Mango","Pune",True, False, 0, "Ganga"]
print(Office)
Office.append("Radha")
print(Office)
list1=[7,3,11,4,33,5,66,7,5]
#sort
list1.sort()
print(list1)
#reverse
list1.reverse()
print(list1)
list1.insert(222, 4) #Insert 222 in the list1 such that its index is4l
print(list1)
list1.pop(3)
print(list1)
list1.remove(7)
print(list1)

Apple
['Summi', 'Orange', 4, 456.234, False, 'Akanksha', True, 'Rohan']
k
kan
['Riya', 8, 34.54, 'Rehan', 'Mango', 'Pune', True, False, 0, 'Ganga']
['Riya', 8, 34.54, 'Rehan', 'Mango', 'Pune', True, False, 0, 'Ganga', 'Radha']
[3, 4, 5, 5, 7, 7, 11, 33, 66]
[66, 33, 11, 7, 7, 5, 5, 4, 3]
[66, 33, 11, 7, 7, 5, 5, 4, 3, 4]
[66, 33, 11, 7, 5, 5, 4, 3, 4]
[66, 33, 11, 5, 5, 4, 3, 4]

In [25]:
#Tuple:It is like a list but it is immutable.
a=(1,2,3,4,45)
print(type(a))
#Empty Tuple
a=()
#To create a tuple with only one value
a=(1) #This is not the correct way as on getting its type we would get "int"
print(type(a))
#Right way to create a tuple with only one value is adding one comma after the single element .
a=(1,)
print(type(a))
a2=(1,3.5,22,"Rani","Rishabh","Delhi","Pune")
print(type(a2))
print(a2)
#a2[0]=432 #'tuple' object does not support item assignment
#print(a2)
# Tuple Methods
no=a2.count(22)
print(no)
no1 = a2.index(22)
print(no1)
print(1 in a2)
print(len(a2))

<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
(1, 3.5, 22, 'Rani', 'Rishabh', 'Delhi', 'Pune')
1
2
True
7

In [2]:
#Write a program to store seven fruits in a list entered by the user.
fruits=[]
print(fruits)
f1=input("Enter the value of the Fruit:")
fruits.append(f1)
f2=input("Enter the value of the Fruit:")
fruits.append(f2)
f3=input("Enter the value of the Fruit:")
fruits.append(f3)
f4=input("Enter the value of the Fruit:")
fruits.append(f4)
f5=input("Enter the value of the Fruit:")
fruits.append(f5)
f6=input("Enter the value of the Fruit:")
fruits.append(f6)
f7=input("Enter the value of the Fruit:")
fruits.append(f7)
print(fruits)

[]
['Apple', 'Banana', 'Orange', 'Pineapple', 'Pomegranate', 'Guva', 'Grapes']

In [5]:
# Write a program to accept marks of the 6 students and display them in a sorted manner.
Marks=[]
print(Marks)
f1=int(input("Enter the value of the Marks:"))
Marks.append(f1)
f2=int(input("Enter the value of the Marks:"))
Marks.append(f2)
f3=int(input("Enter the value of the Marks:"))
Marks.append(f3)
f4=int(input("Enter the value of the Marks:"))
Marks.append(f4)
f5=int(input("Enter the value of the Marks:"))
Marks.append(f5)
f6=int(input("Enter the value of the Marks:"))
Marks.append(f6)
f7=int(input("Enter the value of the Marks:"))
Marks.append(f7)
Marks.sort()
print(Marks)

[]
[1, 2, 33, 43, 44, 44, 65]

In [7]:
#Check that a type cannot be changed in the Python.
a=(33,25,"Akanksha")
a[2]="Summi"#'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [8]:
#Write a program to sum a list with 4 members.
list1=[33,22,55,42]
print(sum(list1))

152

In [10]:
#Write a program to count the number of zeros in the following tuple:
a=(7,0,8,0,0,9)
n=a.count(0)
print(n)

3

In [15]:
#Dictonary & Sets
#Dictonary: Dictonary is a collection of keys value pairs.
marks={
    "Akanksha":100,
    "Pratiksha":90,
    "Summi":89,
    "list":[4,2,34,55]
}
print(marks, type(marks))
print(marks["Akanksha"])
print(marks["Summi"])

{'Akanksha': 100, 'Pratiksha': 90, 'Summi': 89, 'list': [4, 2, 34, 55]} <class 'dict'>
100
89

In [18]:
#PROPERTIES OF THE PYTHON DICTIONARIES
#1)It is unordered.
#2) It is mutable.
#3) It is indexed.
#4) Cannot contain duplicate keys.
marks={
    "Akanksha":100,
    "Pratiksha":90,
    "Summi":89,
    "list":[4,2,34,55],
    1:"Pankhuri"
}
print(marks.items())

dict_items([('Akanksha', 100), ('Pratiksha', 90), ('Summi', 89), ('list', [4, 2, 34, 55]), (1, 'Pankhuri')])

In [30]:
#DICTIONARY METHODS
#CONSIDER THE FOLLOWING DICTIONARY
dict1={
    "Sakshi": 700,
    456:"Rahul",
    "Rishabh":544,
    900:"Rohan"
}
# dict1.items(): Returns a list of (Key,value)tuples.
# dict1.keys():Returns a list containing dictionary's keys
# dict1.update({"friends":}):Updates the dictionary with supplied key-value pairs.
# dict1.get("name"):Returns the value of the specified keys ( and value is returned eg. 100 is returned here)

print(dict1.items())
print(dict1.keys())
print(dict1.values())
dict1.update({"Sakshi":987,"Akanksha":678})
print(dict1)
print(dict1.get("Akanksha"))#prints NONE
print(dict1["Akanksha"])#Returns an error
d={}#Empty Dictornary
print(type(d))

dict_items([('Sakshi', 700), (456, 'Rahul'), ('Rishabh', 544), (900, 'Rohan')])
dict_keys(['Sakshi', 456, 'Rishabh', 900])
dict_values([700, 'Rahul', 544, 'Rohan'])
{'Sakshi': 987, 456: 'Rahul', 'Rishabh': 544, 900: 'Rohan', 'Akanksha': 678}
678
678
<class 'dict'>

In [35]:
#SETS IN PYTHON
#SET: Set is a collection of non-repetitive elements.
# s=set()#no repetition allowed
# s.add(1)
# s.add(2)#or set=(1,2)
s={2,33,45,44,33,33,333,333,33,33,2,2,2,2,2,"Akanksha","Sakshi"}

print(s, type(s))
#Empty Set = e=set()
#e = set() #Do not use s = {} as it will create an empty dictionary
s.add(90000)
print(s, type(s))

{33, 'Akanksha', 2, 45, 'Sakshi', 44, 333} <class 'set'>
{90000, 33, 'Akanksha', 2, 45, 'Sakshi', 44, 333} <class 'set'>

In [43]:
#PROPERTIES OF SETS
# 1.Sets are unordered.=>Element's order doesn't matter.
# 2.Sets are unindexed.=>Cannot access elements by index
# 3.There is no way to change items in sets.
# 4.Sets can not contain duplicate values.

#OPERATIONS ON SETS
#Consider the following set:
s={1,8,2,3}
# len(s):Returns 4, the length of the set
# s.remove(8):Updates the set s and removes 8 from s.\
# s.pop():Removes an arbitrary elementfrom the set and return the element removed.
#s.clear():empties the set s
#s.union({8,11}):Returns a new set with all items from both sets.{1,8,2,3,11}.
#s.intersection({8,11}):Return a set which contains only item in both sets {8}

s1={6,33,4,22,4,3,5,6}
s2={9,55,33,22,11,33,890}
print(s1,type(s1))
s1.add(877)
print(s1,type(s1))
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.issuperset({6,4}))
print({33,22}.issubset(s1))

{33, 3, 4, 5, 6, 22} <class 'set'>
{33, 3, 4, 5, 6, 22, 877} <class 'set'>
{33, 3, 4, 5, 6, 9, 11, 877, 22, 55, 890}
{33, 22}
True
True

In [1]:
#Write a program to create a dictionary of Hindi words with the values as their English translation. Provide user with an option to look it up!

dict1={"Madat":"help",
       "Billi":"Cat",
       "Maa":"Mother",
       "Papa":"Father"}
word=input("Enter the word you want meaning of:")
print(dict1[word])

Mother

In [3]:
#Write a program to input eight numbers from the user and display all the unique numbers(once).
s=set()
n = int(input("Enter the value of number:"))
s.add(int(n))
n = int(input("Enter the value of number:"))
s.add(int(n))
n = int(input("Enter the value of number:"))
s.add(int(n))
n = int(input("Enter the value of number:"))
s.add(int(n))
n = int(input("Enter the value of number:"))
s.add(int(n))
n = int(input("Enter the value of number:"))
s.add(int(n))
n = int(input("Enter the value of number:"))
s.add(int(n))
n = int(input("Enter the value of number:"))
s.add(int(n))
print(s)

{2, 3, 4, 5}

In [5]:
#Can we have a set with 18{int} and "18"(str)as a value in it?
s=set()
s.add(18)
s.add("18")
print(s)

{18, '18'}

In [6]:
#What will be the length of the following set S
s=set()
s.add(20)
s.add(20.0)
s.add('20')#length of s after these operations?
print(s)
print(len(s))

{20, '20'}
2

In [7]:
#S={}
#What is the type of S?
#This is Dictionary
s={}
print(type(s))

<class 'dict'>

In [8]:
#Create an empty dictionary. Allow 4 friends to enter their favourite language as value and use key as their names. Assume that the name are unique.
d={}
name=input("Enter the name of Friends")
lang=input("Enter the Language name:")
d.update({name:lang})
name=input("Enter the name of Friends")
lang=input("Enter the Language name:")
d.update({name:lang})
name=input("Enter the name of Friends")
lang=input("Enter the Language name:")
d.update({name:lang})
name=input("Enter the name of Friends")
lang=input("Enter the Language name:")
d.update({name:lang})
print(d)

{'Akanksha': 'Python', 'Sakshi': 'C++', 'Summi': 'Java', 'Pratiksha': 'C'}

In [ ]:
#If the names of 2 friends are same; what will happen to the program in problem 6?
#The values entered later will be updated.

In [ ]:
#If languages of two friends are same; what will happen to the program in the problem 6?
#Nothing will happen. The values can be same

In [26]:
#Can you change the values inside a list which is contained in set S?
# S={8,7,12,"Akanksha",[1,2]}
# print(s)
# S[4][0]=9
# No, we can not change the value inside a list contained in a set in Python. In fact, we cannot even have a list as an element in a set because sets in python require all their elements to be immutable and hashable. Lists are mutable and hashable. So, they can not added to a set.add

In [ ]:
#Conditional Expressions :If-Else Statements, Elif Statements
#If Elif Else Ladder : If else and Elif statements are a multiway decision taken by our program due to certain conditions in our code.

a=int(input("Enter the value of your age:"))
if (a>18):
    print("You are above the age of consent.")
    print("Good for you")
elif(a<0):
    print("You are entering an invalid age.")
elif(a==0):
    print("You are entering 0 which is not a valid age.")
else:
    print("You are below the age of consent.")

print("End of the Program.")

You are entering an invalid age.
End of the Program.

In [16]:
#If-Else and Elif Statement
#Write a Program to print YES when the age entered bythe user is greater than or equal to 18.

age=int(input("Enter the value of the age of the person:"))
if (age>18):
    print("YES")
else:
    print("NO")

NO

In [17]:
#RELATIONAL OPERATORS
#Relational Operators are used to evaluate conditions inside the if statements. Some examples of relational operators are:
# ==:equals
# >=:greater than/equal To
# <=:lesser than/equal To

#Logical Operators
#In python, Logical Operators operate on conditional statements. Example:
# and - true if both operands are true else False
# or - true if at leastone operand is true or else False
# not - inverts true to false & false to true

#ELIF Clause: Elif in python means [else if] And if statements can be chained together with a lot of these Elif statements followed by an else statement.

In [27]:
#Write a program to find the greatest of four numbers entered by the user.
lst=[]
num1=int(input("Enter the value of Number 1:"))
lst.append(num1)
num2=int(input("Enter the value of Number 2:"))
lst.append(num2)
num3=int(input("Enter the value of Number 3:"))
lst.append(num3)
num4=int(input("Enter the value of Number 4:"))
lst.append(num4)
print(lst)
print("The largest value among these 4 numbers is :", max(lst))

[100, 200, 1000, 400]
The largest value among these 4 numbers is : 1000

In [32]:
#Write a program to find out whether a student has passed or failed if it requires a total of 40% and at least 33% in each subject to pass. Assume 3 subjects and take marks as an input from the user.
marks1=int(input("Enter the value of Subject 1:"))
marks2=int(input("Enter the value of Subject 2:"))
marks3=int(input("Enter the value of Subject 3:"))

total_percent=(100*(marks1+marks2+marks3)/300)
if (total_percent>40 and marks1>=33 and marks2>=33 and marks3>=33):
    print("You are passed:", total_percent)
else:
    print("You are failed, Try again next year", total_percent)

You are passed: 88.33333333333333

In [ ]:
#A spam comment is defined as a text containing following keywords:
#"Make a lot of money", "buy now", "subscribe this", "click this". Write a program to detect these spams.
p1 = "Make a lot of money"
p2 = "buy now"
p3 = "subscribe this"
p4 = "click this"

message=input("Enter your comment: ")
if((p1 in message) or (p2 in message) or (p3 in message) or (p4 in message)):
    print("This comment is a spam")
else:
    print("This comment is not a spam.")

This comment is a spam

In [34]:
#Write a program to find whether a given username contains less than 10 characters or not.

username=input("Enter the Username:")
if (len(username)<10):
    print("Your username contains less than 10 characters.")
else:
    print("The length of the username is more than 10 characters.")

Your username contains less than 10 characters.

In [35]:
#Write a program which finds out whether a given name is present in a list or not.
l=["Akanksha","Summi","Pratiksha","Sakshi","Rehan","Riya"]
name = input("Enter your name: ")
if name in l:
    print("Your name is in the List.")
else:
    print("Your name is not in the list")

Your name is in the List.

In [37]:
#Write a program to calculate the grade of a student from his marks for the following scheme:
# 90-100=> Ex
# 80-90=> A
# 70-80=>B
# 60-70=>C
# 50-60=>D
# <50=> F
marks = int(input("Enter the value of marks: "))
if(marks<=100 and marks>=90):
    grade="Ex"
elif(marks<90 and marks>=80):
    grade="A"
elif(marks<80 and marks>=70):
    grade="B"
elif(marks<70 and marks>=60):
    grade="C"
elif(marks<60 and marks>=50):
    grade="D"
elif(marks<50 ):
    grade="F"

print("Your grade is :", grade)

Your grade is : Ex

In [ ]:
#Write a Program to find out whether a given post is talking about "Akanksha" or not.
post=input("Enter the Post: ")
if("Akanksha".lower() in post.lower()):
    print("This Post is talking about Akanksha.")
else:
    print("This post is not talking about Akanksha")

This Post is talking about Akanksha.

In [42]:
#LOOPS IN PYTHON
#Sometimes we want to repeat a set of statements in our Program.For instance: Print 1 to 1000
#Loops make it easy for a programmer to tell the computer which set of instructions to repeat and how!
#Types of Loops in PYTHON - WHILE LOOP, FOR LOOP
#WHILE LOOP
#In While Loops, the condition is checked first. If it evaluates to true, the body of the loop is executed otherwise now!
#If the loop is entered, the process of [condition check & execution] is continued until the condition becomes False.
#Write a program to print 1 to 50 using a while loop.
i=1
while(i<51):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [2]:
#Write a program to print the content of a list using while loops.clear
lst=["Ram","Sam","Summi","Akanksha","Pratiksha","Roma","Rani"]
#Using the FOR Loop
#FOR Loop: A For Loop is used to iterate through a sequence like list, tuple or string (iterables).

for i in lst:
    print(i)
#Using the WHILE Loop
i=0
while(i<len(lst)):
    print(lst[i])
    i+=1

Ram
Sam
Summi
Akanksha
Pratiksha
Roma
Rani
Ram
Sam
Summi
Akanksha
Pratiksha
Roma
Rani

In [4]:
#RANGE FUNCTION IN PYTHON
#The range() function in python is used to generate a sequence of number.
#We can specify the start, stop and step-size as follows:
#range(start,stop,step_size)
for i in range(0,100,4):
    print(i)

0
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

In [9]:
#For Loop with Lists
l=[2,4,5,"Ram","Riya","Mohan"]
for i in l:
    print(i)

#For Loop with Tuples
t=("Tuple",4,55,6.4,"Rohan","Summi")
for i in t:
    print(i)

#For Loop with Strings
s="Akanksha"
for i in s:
    print(i)

2
4
5
Ram
Riya
Mohan
Tuple
4
55
6.4
Rohan
Summi
A
k
a
n
k
s
h
a

In [11]:
#FOR LOOP WITH ELSE
#An optional else can be used with a for loop if the code is to be executed when the loops exhaust.count
l=["Akanksha","Ram",1,2,44,2234]
for item in l:
    print(item)
else:
    print("Done")#This is printed when the loop exhaust

Akanksha
Ram
1
2
44
2234
Done

In [14]:
#THE BREAK STATEMENT
#BREAK is used to come out of the loop when encountered. It instructs the program to exit the loop now.
for i in range(0,80):
    
    if i==3:
        break #exit the loop right now.
    print(i)

0
1
2

In [16]:
#THE CONTINUE STATEMENT
#"continue" is used to stop the current iteration of the loop and continues with the next one. It instructs the program to "skip the iteration."
for i in range(1,10):
    if i == 5:
        continue #skip the iteration.
    print(i)

1
2
3
4
6
7
8
9

In [22]:
#PASS STATEMENT
#PASS is a NULL statement in python.
#It instructs to "do nothing."
l=["Ram","Sam",1,44,32]
for item in l:
    pass # without pass, the program will throw an error.
i=0
while(i<45):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [35]:
#1)Write a program to print multiplication table of a given number using for loop.
n=int(input("Enter the value of n for which you want the Table to get printed:"))
for i in range(1,n+1):
    print(f"{n} x {i} = {n*i}")

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64

In [36]:
#2)Write a program to greet all the person names stored in a list "l" and which starts with S.
#l=["Harry","Soham","Sachin","Rahul"]
l=["Harry","Soham","Sachin","Rahul"]
for name in l:
    if(name.startswith("S")):
        print(f"Hello {name}")

Hello Soham
Hello Sachin

In [41]:
#3)Attempt problem 1 using the while loop.
n=int(input("Enter the value of number for which you want the Table to be printed:"))
i=1
while(i<(n+2)):
    
    print(f"{n} x {i} = {n*i}")
    i+=1

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
#4)Write a program to find whether a given number is prime or not.

n=int(input("Enter the value of number for which you want to check it is Prime or not?:"))
for i in range(2,n):
    if (n%i == 0):
        print("The given number is not Prime Number.")
        break
else:
    print("The given number is a Prime Number.")

The given number is not Prime Number.

In [ ]:
#5)Write a program to find the sum of first n natural numbers using while loop.
n=int(input("Enter the value of number upto which you want the sum:"))
i=0
sum=0
while (i<=n):
    sum += i
    i += 1
print(sum)

36

In [47]:
#Write a Program to calculate the factorial of a given number using for loop.
n=int(input("Enter the value of number for which you wnat the factorial:"))
product=1
for i in range(1, n+1):
    product = product * i
print(f"The factorial of {n} is {product}")

The factorial of 5 is 120

In [49]:
#7)Write a program to print the following star pattern:
#Middle Triangle.
#   *
#  ***
# ***** for n = 3
n=int(input("Enter the value of n:"))
for i in range(1, n+1):
    print(" "* (n-i), end="")
    print("*"* (2*i-1), end="")
    print("")

     *
    ***
   *****
  *******
 *********
***********

In [ ]:
#8)Write a program to print the following star pattern.
# *
# **
# *** for n = 3

SyntaxError: invalid syntax (2073902695.py, line 2)

In [ ]:
#9)Write a program to print the following star pattern.
# ***
# * *
# *** for n = 3

SyntaxError: invalid syntax (2723087598.py, line 2)

In [32]:
#10)Write a program to print the multiplication table of n using for loops in reversed order.